<!-- <mat-toolbar>
 
</mat-toolbar> -->

<mat-toolbar style="border-bottom: 0.5px #8f8f8f3f solid">
  <img src="../../../assets/images/iCertify-logo.png" class="img" alt="" />
  <div class="logo-text">
    <!-- <h3>iCertify, Inc.</h3>
    <p>NOTARY</p> -->
  </div>

  <div class="flex-stretch"></div>
  <app-profile-menu
    class="avatar"
    *ngIf="me"
    [me]="me"
    [avatarColors]="menuColors"
    [menuItems]="userMenu"
    (onMenuClick)="menuClick($event)"
  ></app-profile-menu>
</mat-toolbar>
<app-loading *ngIf="loading" label="loading"></app-loading>
<section *ngIf="!loading">
  <div class="grid" *ngIf="!canJoin">
    <div
      class="col-12 flex align-items-center justify-content-center flex-column"
    >
      <p>
        {{
          disabled
            ? "You dont have a schedule today"
            : "Click the button to Join meeting"
        }}
      </p>
      <button mat-flat-button color="primary" [disabled]="disabled">
        Join Meeting
      </button>
    </div>
  </div>
  <app-rt-video *ngIf="canJoin"></app-rt-video>
</section>
