<h3 mat-dialog-title>
  {{ data.refCode }}: {{ data.sender.firstName }} {{ data.sender.lastName }}
</h3>
<mat-icon (click)="dialogRef.close()" class="close-btn" color="warn"
  >close</mat-icon
>
<div mat-dialog-content>
  <div class="grid">
    <div class="col-12">
      <div class="grid">
        <div class="col-8">
          <mat-card>
            <div class="grid">
              <div class="col-6">
                <div class="text-wrap">
                  <p>
                    <b>{{ data._documents[0].documentName }}</b>
                  </p>
                  <p>Document Name</p>
                </div>
                <div class="text-wrap">
                  <p>
                    <b>{{ data._documents[0].documentType }}</b>
                  </p>
                  <p>Document Type</p>
                </div>
                <div class="text-wrap">
                  <p>
                    <b>{{ data.tempFolderId.folderName }}</b>
                  </p>
                  <p>Batch Reference Code</p>
                </div>
              </div>
              <div class="col-6">
                <div class="text-wrap">
                  <p>
                    <b
                      >{{ data._folderId?._notaryId?.firstName }}
                      {{ data._folderId?._notaryId?.lastName }}</b
                    >
                  </p>
                  <p>Notary</p>
                </div>
                <div class="text-wrap">
                  <p>
                    <b>{{ data._documents[0].documentStatus }}</b>
                  </p>
                  <p>Notarization Status</p>
                </div>
              </div>
            </div>
          </mat-card>
        </div>
        <div class="col-4">
          <mat-card> </mat-card>
        </div>
      </div>
      <mat-card>
        <div class="timeline">
          <div *ngFor="let log of documentLogs">
            <ul>
              <li>
                <span>
                  {{ log.createdAt | date: "medium" }}
                </span>
                <div class="content">
                  <h3>
                    {{ log._createdBy.firstName }} {{ log._createdBy.lastName }}
                  </h3>
                  <p>{{ log.message }}</p>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
</div>
