<h3 mat-dialog-title>View Attachments</h3>
<mat-icon mat-dialog-close class="close-btn" color="warn">close</mat-icon>
<!-- // ADD IMAGE VIEWRR -->
<div mat-dialog-content *ngIf="!loading">
  <!-- <div *ngFor="let attachment of files">
    <ngx-extended-pdf-viewer
      *ngIf="!attachment.isImage"
      [src]="attachment.link"
      [useBrowserLocale]="true"
      height="80vh"
      [zoom]="'auto'"
    ></ngx-extended-pdf-viewer>
    <ng-container *ngIf="attachment.isImage"
      ><img style="height: 100%; width: 100%" [src]="data.link"
    /></ng-container>
  </div> -->
  <div class="grid">
    <div class="col-12">
      <div class="grid">
        <ng-container *ngFor="let item of files; let i = index">
          <div class="col-6">
            <h4>{{ item.name }}</h4>
            <p>{{ item.data.documentType }}</p>
            <p>{{ item.data.refCode }}</p>

            <div class="img-container">
              <mat-spinner
                *ngIf="!item.loaded"
                style="position: absolute"
              ></mat-spinner>
              <img
                *ngIf="item.isImage"
                [src]="item.link"
                alt=""
                (load)="fileLoaded(i)"
              />
              <ngx-doc-viewer
                *ngIf="!item.isImage"
                style="min-width: 100%; min-height: 100%"
                [url]="item.link"
                viewer="google"
                (loaded)="fileLoaded(i)"
              ></ngx-doc-viewer>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>

<mat-dialog-actions *ngIf="data.downloadButton">
  <button mat-button color="primary" (click)="downloadFile()">
    Download File <mat-icon>download</mat-icon>
  </button>
</mat-dialog-actions>
