<h3 mat-dialog-title>{{ data.refCode ? data.refCode : "View Attachments" }}</h3>
<mat-icon mat-dialog-close class="close-btn" color="warn">close</mat-icon>
<!-- // ADD IMAGE VIEWRR -->
<div mat-dialog-content *ngIf="!loading">
  <!-- <div *ngFor="let attachment of files">
    <ngx-extended-pdf-viewer
      *ngIf="!attachment.isImage"
      [src]="attachment.link"
      [useBrowserLocale]="true"
      height="80vh"
      [zoom]="'auto'"
    ></ngx-extended-pdf-viewer>
    <ng-container *ngIf="attachment.isImage"
      ><img style="height: 100%; width: 100%" [src]="data.link"
    /></ng-container>
  </div> -->
  <div class="grid">
    <div class="col-12">
      <div
        class="grid"
        style="
          border-bottom: 2px solid #c5c5c5;
          margin-bottom: 1rem;
          padding: 1rem 0;
        "
        *ngFor="let item of files; let i = index"
      >
        <div class="col-6">
          <p>Document Title: {{ item.name }}</p>
          <p *ngIf="item.data.documentStatus">
            Status:
            <span
              [ngStyle]="{
                color:
                  item.data.documentStatus === 'Pending for Notary'
                    ? '#F4D03F'
                    : '#27AE60'
              }"
              >{{ item.data.documentStatus }}
            </span>
          </p>
          <p>Document Type: {{ item.data.documentType }}</p>
          <p *ngIf="item.data.documentType === 'Others'">
            Document Type Specific: {{ item.data.documentTypeSpecific }}
          </p>
          <p>Reference Code: {{ item.data.refCode }}</p>
          <div
            class="grid"
            *ngIf="
              item.data.documentStatus === 'Notarized' &&
              item.screenshot.length > 0
            "
          >
            <p class="col-12">Screenshots</p>

            <div
              (click)="openNewWindow(s.link)"
              class="col-3 pic"
              *ngFor="let s of item.screenshot; let i = index"
            >
              <img [src]="s.link" />
              <span class="imgtext">
                <p>View Screenshot</p>
              </span>
            </div>
          </div>
        </div>
        <div class="col-6 img-container">
          <mat-spinner
            *ngIf="!item.loaded"
            style="position: absolute"
          ></mat-spinner>
          <p>Uploaded Document</p>
          <img
            *ngIf="item.isImage"
            [src]="item.link"
            alt=""
            (load)="fileLoaded(i)"
          />
          <ngx-doc-viewer
            *ngIf="!item.isImage"
            style="min-width: 100%; min-height: 100%"
            [url]="item.link"
            viewer="google"
            (loaded)="fileLoaded(i)"
          ></ngx-doc-viewer>
        </div>
      </div>
    </div>
  </div>
</div>

<mat-dialog-actions *ngIf="data.downloadButton">
  <button mat-button color="primary" (click)="downloadFile()">
    Download File <mat-icon>download</mat-icon>
  </button>
</mat-dialog-actions>
