<div class="grid" style="overflow: hidden" *ngIf="!joinRoom">
  <div class="col-12">
    <div class="grid pt-3 pr-3">
      <div class="col-12 header-wrap">
        <div class="name-container">
          <div class="info">
            <h4>{{ me.firstName }} {{ me.lastName }}</h4>
            <p>{{ me.email }}</p>
          </div>
          <mat-icon color="primary">account_circle</mat-icon>
        </div>
      </div>
    </div>
    <div class="main-content">
      <div class="left">
        <div *ngIf="locked" class="vid-wrapper"></div>
        <webcam
          class="cam"
          [width]="850"
          [height]="850"
          [allowCameraSwitch]="false"
          (initError)="handleInitError($event)"
          *ngIf="!locked"
        ></webcam>
      </div>
      <div class="right">
        <button
          mat-stroked-button
          *ngFor="let schedule of data"
          (click)="joinMeeting(schedule)"
        >
          {{ schedule.schedule | date: "medium" }}
        </button>
      </div>
    </div>
    <button mat-dialog-close mat-button color="primary">
      <mat-icon>arrow_back</mat-icon>&nbsp;Back
    </button>
  </div>
</div>
<!-- MEETING -->
<div>
  <mat-sidenav-container *ngIf="joinRoom" autosize>
    <mat-sidenav #sidenav mode="side" opened="true" style="overflow-x: hidden"
      ><div style="position: sticky; top: 0; background: #2e3235; z-index: 99">
        <p class="text-light">
          <i
            >BID: <kbd>{{ currentTransaction?._folderId }}</kbd></i
          >
        </p>
        <p class="text-light">
          <i
            >CID: <kbd>{{ currentSchedule?._id }}</kbd></i
          >
        </p>
        <p style="text-align: center; color: #fff; margin-top: 0">
          QUEUE NO. <b>{{ currentDocument?.queue }}</b> of
          {{ transactionCount }}
        </p>
        <div class="separator"></div>
      </div>
      <p>
        Transac Ref Code: <b>{{ currentTransaction?.refCode }}</b>
      </p>
      <div class="separator"></div>
      <p style="margin-bottom: 0"><b>Document Ref Code</b></p>
      <ng-container
        *ngFor="let doc of currentTransaction?._documents; let i = index"
      >
        <p
          class="clickable"
          [ngClass]="{
            success: doc.documentStatus === 'Notarized',
            warn: doc.documentStatus === 'Pending for Notary',
            danger: doc.documentStatus === 'Unnotarized'
          }"
          (click)="selectDocumentToView(doc)"
        >
          <mat-icon *ngIf="doc.documentStatus === 'Pending for Notary'"
            >mode_standby</mat-icon
          ><mat-icon *ngIf="doc.documentStatus === 'Notarized'">done</mat-icon
          ><mat-icon *ngIf="doc.documentStatus === 'Unnotarized'"
            >close</mat-icon
          >
          {{ doc.refCode }}
        </p>
      </ng-container>
      <div class="separator"></div>
      <p><b>Proof of Identity</b></p>
      <ng-container *ngFor="let image of _images; let i = index">
        <div class="img-wrap">
          <button
            (click)="expandImg(image.url)"
            class="maximize"
            [disabled]="!image.loaded"
            mat-icon-button
            color="primary"
          >
            <mat-icon>open_in_full</mat-icon>
          </button>
          <mat-spinner
            *ngIf="!image.loaded"
            [diameter]="35"
            style="position: absolute"
          ></mat-spinner>
          <small *ngIf="!image.loaded" style="color: #fff; margin-top: 4.5rem">
            Image is loading...
          </small>
          <img [src]="image.url" alt="" (load)="imageLoaded(i)" />
          <p class="img-label">{{ image.label }}</p>
        </div></ng-container
      >

      <h3>Personal Information</h3>
      <ng-container *ngFor="let item of userInfo">
        <p *ngIf="item.type !== 'date' && item.type !== 'special'">
          <span>{{ item.label }}</span
          >: &nbsp;
          <b>{{
            util.deepFind(currentTransaction?.sender, item.path) || "N/A"
          }}</b>
        </p>
        <p *ngIf="item.type === 'date'">
          <span>{{ item.label }}</span
          >: &nbsp;
          <b>{{
            util.deepFind(currentTransaction?.sender, item.path) | date
          }}</b>
        </p>
        <p *ngIf="item.type === 'special'">
          <span>{{ item.label }}</span
          >: &nbsp;
          <b *ngFor="let c of item.paths">{{
            util.deepFind(currentTransaction?.sender, c) + " "
          }}</b>
        </p>
      </ng-container>
      <h3>Video of Signing</h3>
      <div class="img-wrap">
        <video
          *ngIf="currentTransaction?.vidURL !== undefined"
          style="max-width: 100%; max-height: 100%"
          controls
        >
          <source [src]="currentTransaction?.vidURL" type="video/mp4" />
        </video>
      </div>
    </mat-sidenav>

    <div
      style="background: #1f2326"
      class="grid main-container"
      id="screen"
      #screen
    >
      <mat-toolbar style="color: '#FFF'">
        <p style="text-align: center; font-size: 16px" *ngIf="currentDocument">
          This is for Document with reference code:
          <b>{{ currentDocument.refCode }}</b>
        </p>
        <div class="flex-stretch"></div>
        <!-- <button
          mat-icon-button
          (click)="prevTransaction()"
          *ngIf="currentTransactionIndex > 0"
        >
          <mat-icon>arrow_back_ios</mat-icon>
        </button> -->
        <button
          mat-icon-button
          [disabled]="checkDocumentStatus()"
          (click)="openUserDetails()"
        >
          <mat-icon>arrow_forward_ios</mat-icon>
        </button>
      </mat-toolbar>
      <div *ngIf="!checkDocumentStatus2()" class="overlay">
        <h1>DONE</h1>
      </div>
      <div class="col-12" style="position: relative">
        <app-rt-video
          [channelName]="currentSchedule._id"
          (onLeaveMeeting)="leaveMeeting($event)"
          [remoteDetails]="remoteCallDetails"
        ></app-rt-video>
        <div class="grid mt-3">
          <div class="col-12 opt-btn" *ngIf="checkDocumentStatus2()">
            <button
              mat-raised-button
              color="primary"
              (click)="initiateCounter()"
            >
              <mat-icon>photo_camera</mat-icon>&nbsp;Mark as Notarized
            </button>
            <button
              mat-raised-button
              color="warn"
              (click)="openNotarizeDialog('Unnotarized')"
            >
              Mark as unnotarized
            </button>
            <button
              mat-raised-button
              color=""
              [disabled]="showSkipBtn()"
              (click)="skipDocument()"
            >
              Skip document
            </button>
          </div>
        </div>
      </div>
    </div>
  </mat-sidenav-container>
</div>
