@import "../../../../../../../assets/styles/variables.scss";

.flex-stretch {
  flex: 1 0 auto;
}
.header-wrap {
  display: flex;
  justify-content: flex-end;
  padding: 0.5rem;
  .name-container {
    display: flex;
    padding-right: 1.5rem;
    mat-icon {
      font-size: 50px;
    }
  }
  .info {
    display: block;
    h4,
    p {
      margin: 0;
      text-align: right;
    }
  }
}

.main-content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 86vh;
  .left {
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
    .vid-wrapper {
      height: 30rem;
      width: 65%;
      background: #565656;
    }
  }
  .right {
    width: 20%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    .btn-join {
      background-color: $primary;
      color: #fff;
      cursor: pointer;
      outline: none;
      border: none;
      display: block;
      border-radius: 25px;
      width: 60%;
      padding: 1rem 2rem;
      font-size: 16px;
    }
    h3 {
      //   text-align: center;
    }
  }
}
mat-sidenav-container {
  height: 100%;
  overflow-x: hidden;
  background: #1f2326;
  height: 100vh;
  mat-sidenav {
    overflow-x: hidden;
    border: 1px #565656 solid;
    box-shadow: none;
    padding: 0.5rem;
    padding-right: 0;
    width: 22vw;
    color: #fff;
    background: #2e3235;
  }

  .img-txt {
    font-size: 16px;
    font-weight: 600;
  }

  .clickable {
    cursor: pointer;
    margin: 0;
  }
  .selected {
    cursor: pointer;
    font-weight: bold;
    margin: 0;
  }
  .separator {
    margin-top: 0.5rem;
    width: 100%;
    background-color: #79797975;
    height: 2px;
  }
  .img-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 16rem;
    padding: 0.3rem;
    padding-bottom: 0rem;
    margin-bottom: 0.4rem;
    border: 2px solid #79797975;
    border-radius: 0.25rem;
    position: relative;
    margin-right: 0.3rem;
    img {
      max-width: 100%;
      max-height: 100%;
    }
    .img-label {
      position: absolute;
      bottom: 0;
      right: 0;
      text-align: center;
      color: #fff;
      width: 100%;
      padding: 0.5rem;
      background-color: #26184a8b;
      margin: 0;
    }
  }

  .main-container {
    height: 100vh;
    width: 100%;
    margin: auto;
    .local {
      width: 100%;
      height: 60vh;
    }
    .remote {
      background: #565656;
      width: 100%;
      height: 60vh;
    }
  }
  mat-toolbar {
    background: #1f2326;
  }
}

.btn-center {
  display: flex;
  align-items: center;
  justify-content: center;
  button {
    margin: 0rem 0.6rem;
    background: #2e3235;
  }
}

.opt-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  button {
    margin: 0rem 1rem;
    height: 3rem;
    font-size: 18px;
  }
}
.time {
  color: #fff;
  text-align: center;
}
.success {
  color: #3bbb95;
}
.warn {
  color: #eaca15;
}
.danger {
  color: #da4b5d;
}
