<div mat-dialog-title><h3>Review Enrouting Details</h3></div>
<mat-icon (click)="close()" class="close-btn" color="warn">close</mat-icon>

<div mat-dialog-conent>
  <app-form
    #enrouteDetails
    [formfields]="markAsEnrouteFormFields"
    (formInitiated)="formInitialized()"
    (formListener)="formListener($event)"
    [obj]="obj"
  >
  </app-form>
</div>

<app-auto-complete #riderForm [opt]="riderList" (onSelect)="onSelect($event)">
</app-auto-complete>

<div mat-dialog-actions align="center">
  <button
    mat-flat-button
    color="primary"
    [disabled]="saving || !riderObj"
    (click)="submit()"
  >
    Enroute
  </button>
</div>
