<h1 mat-dialog-title>Add Cluster</h1>
<mat-icon mat-dialog-close class="close-btn" color="warn">close</mat-icon>

<div mat-dialog-content>
  <app-form
    #addCluster
    *ngIf="!loading"
    [formfields]="addClusterForm"
    (formInitiated)="formInitialized($event)"
    (formListener)="formListener($event)"
  ></app-form>
</div>

<div mat-dialog-actions align="end" *ngIf="isFormInitiated">
  <button mat-button color="warn" mat-dialog-close>Cancel</button>
  <button mat-flat-button color="primary">Create</button>
</div>
