.close-btn {
  margin-right: -14px !important;
  margin-top: -24px !important;
  float: right;
}
.vid-container {
  height: 23rem;
  padding: 0.7rem;
  border: 2px solid #acacac;
  border-radius: 0.25rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
