@import "./../../../assets/styles/variables.scss";
#searchArea {
  background-image: url("./../../../assets/images/iCertify-logo.png");
  background-size: 15rem;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: 49% 15%;
  .input {
    position: relative;
    font-size: 1.5rem;
    border: #532eaf 2px solid;
    border-radius: 100px;

    padding: 0 4rem 0 1rem;
    width: 24.4rem;
    height: 3rem;
    text-transform: uppercase;
    outline: none;

    animation: toFullwidth 1s;
  }
  .input1 {
    position: relative;
    font-size: 1.5rem;

    border: #532eaf 2px solid;
    border-radius: 100px;

    padding: 0;
    width: 0;
    height: 3rem;
    text-transform: uppercase;
    outline: none;
    color: #ffff;
    animation: toRevertwidth 2s;
  }

  .search-icon {
    position: relative;
    font-size: 2rem;
    height: 3rem;
    transform: translate(-3.5rem, -0.39rem);

    width: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    mat-icon {
      font-size: 2rem !important;
      color: #532eaf;
    }
  }
  .search-icon-bounce {
    position: relative;
    font-size: 2rem;
    height: 3rem;
    transform: translate(-3.5rem, -0.39rem);
    opacity: 0;
    width: 3rem;

    display: flex;
    justify-content: center;
    align-items: center;
    mat-icon {
      font-size: 2rem !important;
      color: #532eaf;
    }
    animation: bounce 2s;
  }
}
.search-result {
  background-image: url("./../../../assets/images/iCertify-logo.png");
  background-size: 15rem;
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: 32.5rem 20rem;
  background-color: rgba(255, 255, 255, 0.7);
  background-blend-mode: lighten;
  animation: appear 3s;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-details {
  color: $primary;
}
.search-btn {
  display: none;
  animation: disappear 3s;
  opacity: 0;
}
#generating {
  animation: show 1s;
  //   animation-delay: 2s;
  opacity: 1;
}
@keyframes toLeft {
  from {
    transform: translate(-26.7rem, -0rem);
  }
  to {
    transform: translate(-3.2rem, 0rem);
  }
}
.moving-search-icon {
  font-size: 2rem;
  transform: translate(-350px, -20px);
  animation: move 5s;
  animation-iteration-count: infinite;
}
@keyframes toFullwidth {
  from {
    width: 3rem;
  }
  to {
    padding: 0 4rem 0 1rem;
    width: 24.4rem;
  }
}
@keyframes toRevertwidth {
  from {
    color: #0000;
    padding: 0 4rem 0 1rem;
    width: 24.4rem;
  }
  to {
    width: 0rem;
    color: #ffff;
  }
}
@keyframes bounce {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes show {
  from {
    display: none;
    opacity: 0;
  }
  to {
    opacity: 1;
    display: block;
  }
}
@keyframes move {
  0% {
    transform: translate(-350px, -20px);
  }
  25% {
    transform: translate(0, -20px);
  }
  50% {
    transform: translate(-350px, 40px);
  }
  75% {
    transform: translate(0, 40px);
  }
  100% {
    transform: translate(-350px, -20px);
  }
}
@keyframes disappear {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
