<div>
  <h5>Proof of Identity</h5>
  <div class="grid">
    <div class="col-12 mt-3" *ngIf="!certificateOfIndigencyExist">
      <label
        *ngIf="
          header !== 'View Registration Details' && header !== 'Review Details'
        "
        ><b>{{ choices.section }}</b></label
      >
      <mat-radio-group
        *ngIf="
          header !== 'View Registration Details' && header !== 'Review Details'
        "
        class="example-radio-group"
        [(ngModel)]="selectedChoice"
        (ngModelChange)="choose($event)"
      >
        <mat-radio-button
          *ngFor="let choice of choices.choices"
          [value]="choice.value"
          >{{ choice.label }}</mat-radio-button
        >
      </mat-radio-group>
      <div
        *ngIf="
          header !== 'View Registration Details' && header !== 'Review Details'
        "
      >
        <mat-form-field
          *ngIf="selectedChoice === 'no'"
          appearance="fill"
          style="width: 55%"
        >
          <mat-label>Select Reason</mat-label>
          <mat-select [(ngModel)]="reason">
            <mat-option
              style="font-size: 13px"
              *ngFor="let reason of reasons"
              [value]="reason"
              >{{ reason }}</mat-option
            >
          </mat-select>
        </mat-form-field>
      </div>
      <div *ngIf="header === 'View Registration Details'">
        <p>Uploading of the Certificate of Indigency is to follow.</p>
        <p>
          Reason: <b>{{ reason }}</b>
        </p>
      </div>
      <div *ngIf="header === 'Review Details'">
        <p>Uploading of the Certificate of Indigency is to follow.</p>
        <p>
          Reason: <b>{{ reason }}</b>
        </p>
      </div>
    </div>
    <mat-divider></mat-divider>
    <ng-container *ngFor="let image of imgArray; let i = index">
      <div class="col-6 mt-1" *ngIf="image.show">
        <h4>{{ image.label }}</h4>
        <div class="img-container">
          <mat-spinner
            *ngIf="!image.loaded && image.imgLink !== ''"
            [diameter]="35"
            style="position: absolute"
          ></mat-spinner>
          <p *ngIf="image?.imgLink === ''">No Image Uploaded</p>
          <img
            *ngIf="image?.imgLink !== ''"
            [src]="image?.imgLink"
            (load)="imageLoaded(i)"
            alt=""
          />
          <button
            *ngIf="!image.disable"
            mat-fab
            [disabled]="image.disable"
            color="primary"
            (click)="uploadImage(image.fcname)"
            matTooltip="Upload an image"
          >
            <mat-icon>upload</mat-icon>
          </button>
        </div>
        <small style="color: red" *ngIf="image.required && image.imgLink === ''"
          >{{ image.label }} is required*</small
        >
      </div>
    </ng-container>
  </div>
</div>
