<div>
  <h5>Proof of Identity</h5>
  <div class="grid">
    <ng-container *ngFor="let image of imgArray">
      <div class="col-6 mt-1">
        <h4>{{ image.label }}</h4>
        <div [class]="image.hasError ? 'img-container-error' : 'img-container'">
          <p *ngIf="image?.imgLink === ''">No Image Uploaded</p>
          <img *ngIf="image?.imgLink !== ''" [src]="image?.imgLink" alt="" />
          <button
            *ngIf="!image.disable"
            mat-fab
            [disabled]="image.disable"
            color="primary"
            (click)="uploadImage(image.fcname)"
            matTooltip="Upload an image"
          >
            <mat-icon>upload</mat-icon>
          </button>
        </div>
        <small style="color: red" *ngIf="image.hasError"
          >{{ image.label }} is required*</small
        >
        <mat-icon style="color: #3bbb95" *ngIf="!image.hasError">done</mat-icon>
      </div>
    </ng-container>
  </div>
</div>
