<app-loading [label]="'Loading'" *ngIf="loading"></app-loading>
<app-loading [label]="'Logging Out'" *ngIf="loggingOut"></app-loading>
<mat-sidenav-container *ngIf="!loading && !loggingOut" autosize>
  <mat-sidenav #sidenav mode="side" opened="true">
    <mat-nav-list style="padding-top: 0">
      <mat-toolbar>
        <img
          src="../../../assets/images/iCertify-logo.png"
          class="img"
          alt=""
        />
        <div *ngIf="isExpanded" class="logo-text">
          <h3>iCertify, Inc.</h3>
          <!-- <p>NOTARY</p> -->
        </div>
      </mat-toolbar>
      <ng-container *ngFor="let item of notaryNav">
        <mat-list-item
          style="height: 2.8rem"
          [routerLink]="item.route"
          (click)="changeRoute(item)"
          routerLinkActive="router-active-link"
        >
          <mat-icon
            class="font-light"
            fontSet="material-icons-outlined"
            style="font-size: 21px; margin-right: 0.3rem"
            [matTooltip]="isExpanded ? '' : item.label"
            matTooltipPosition="right"
            mat-list-icon
            >{{ item.icon }}</mat-icon
          ><span *ngIf="isExpanded" class="font-light">{{ item.label }}</span>
        </mat-list-item>
      </ng-container>
    </mat-nav-list>
  </mat-sidenav>

  <mat-toolbar style="border-bottom: 0.5px #8f8f8f3f solid">
    <mat-icon
      class="chevron-button"
      (click)="isExpanded = !isExpanded"
      [ngClass]="{ rotated: isExpanded }"
      [matTooltip]="isExpanded ? 'Minimize sidebar' : 'Expand sidebar'"
      matTooltipPosition="right"
      >chevron_right</mat-icon
    >
    <div class="flex-stretch"></div>
  </mat-toolbar>
  <mat-toolbar style="height: 3rem; border-bottom: 3px solid #26184ab8">
    <small style="font-size: 13px; letter-spacing: 0.1rem">{{
      routeLabel
    }}</small>
    <div class="flex-stretch"></div>
  </mat-toolbar>
  <div *ngIf="!navigationLoading && !loggingOut" class="container-fluid">
    <router-outlet></router-outlet>
  </div>
  <div style="overflow-x: hidden; overflow-y: hidden">
    <app-loading
      *ngIf="navigationLoading && !loggingOut"
      [label]="'Navigating to'"
      [route]="routeLabel"
    ></app-loading>
  </div>
</mat-sidenav-container>
<app-loading *ngIf="loggingOut" [label]="'Logging out'"></app-loading>
