<h3 mat-dialog-title>Add Transaction</h3>
<div mat-dialog-content>
  <div *ngIf="step === 1">
    <h3 class="upper">STEP 1 - Upload Document for Notarization</h3>
    <div class="grid">
      <mat-form-field
        appearance="fill"
        class="col-8"
        *ngIf="docsArray.length < 1"
      >
        <mat-label>Select Document Type</mat-label>
        <mat-select
          [(ngModel)]="documentType"
          (ngModelChange)="eventSelection($event)"
        >
          <mat-option *ngFor="let doc of docTypes" [value]="doc">{{
            doc
          }}</mat-option>
        </mat-select>
      </mat-form-field>
      <div class="col-4 flex align-items-center justify-content-center">
        <button
          *ngIf="documentType !== ''"
          mat-raised-button
          style="width: 100%"
          [disabled]="documentType === 'Others' && !others.length"
          color="primary"
          (click)="upload()"
        >
          Click to upload file for {{ documentType }}
        </button>
      </div>
    </div>
    <div class="grid" *ngIf="documentType === 'Others'">
      <div class="col-8">
        <mat-form-field
          class="full-width"
          appearance="fill"
          *ngIf="documentType === 'Others'"
        >
          <mat-label>Specify type of document</mat-label>
          <input type="text" matInput [(ngModel)]="others" />
        </mat-form-field>
      </div>
    </div>
    <div class="grid">
      <div class="empty" *ngIf="!docsArray.length">
        <mat-icon>warning</mat-icon>
        <p>No Document uploaded.</p>
      </div>
      <div class="col-12" *ngIf="docsArray.length">
        <div class="grid">
          <ng-container *ngFor="let doc of docsArray; let i = index">
            <div class="col-6">
              <h3 class="doc-title">
                {{
                  doc.documentType === "Others"
                    ? doc.documentTypeSpecific
                    : doc.documentType
                }}
              </h3>
              <small style="text-align: center; color: #565656">{{
                doc.name
              }}</small>
              <div class="img-container">
                <img
                  *ngIf="doc.fileExtension !== 'pdf'"
                  [src]="doc.link"
                  alt=""
                />
                <ngx-doc-viewer
                  *ngIf="doc.fileExtension === 'pdf'"
                  style="min-width: 100%; min-height: 100%"
                  [url]="doc.link"
                  viewer="google"
                ></ngx-doc-viewer>
                <button
                  mat-fab
                  color="warn"
                  class="delete"
                  (click)="deleteDoc(doc)"
                  matTooltip="Delete document"
                >
                  <mat-icon>delete_forever</mat-icon>
                </button>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="step === 2">
    <div class="grid">
      <div class="col-12">
        <h3 class="upper">STEP 2 - Upload Video of Signing</h3>
        <div class="grid flex align-items-center justify-content-center">
          <div class="col-8">
            <p><b>Requirements: </b></p>
            <p>1. Blank White Paper</p>
            <p>2. Actual Video of Signing</p>
            <div class="vid-container">
              <video
                *ngIf="video !== ''"
                style="max-width: 95%; min-height: 100%"
                controls
              >
                <source [src]="video" type="video/mp4" />
              </video>
              <button
                mat-fab
                color="primary"
                (click)="uploadVid()"
                matTooltip="Upload video"
              >
                <mat-icon>upload</mat-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="step === 3">
    <div class="grid">
      <div class="col-12">
        <h3 class="upper">STEP 3 - Video Conference Schedule</h3>
        <p>
          Your Document reference code is <b>{{ refCode }}</b>
        </p>
        <p>
          Please wait for the schedule of your video conference with <br />
          Atty.Carlo Javier as part of the RON process of the document that you
          have submitted. You will be notified of your schedule through the
          contact details you have provided.
        </p>
        <p>
          <b>+63{{ data.mobileNumber }}</b>
        </p>
        <p>You can track your document through this link:</p>

        <p>For more information, contact iCertify: 09123456789</p>
        <p>Thank you.</p>
      </div>
    </div>
  </div>
</div>
<div mat-dialog-actions align="center">
  <button
    mat-flat-button
    class="btn-width"
    color="warn"
    *ngIf="step === 1"
    (click)="closeDialog()"
  >
    Cancel
  </button>
  <button
    mat-flat-button
    class="btn-width"
    color="warn"
    *ngIf="(step > 1 && step < 3) || step === 2"
    (click)="step = step - 1"
  >
    Back
  </button>
  <button
    *ngIf="step < 2"
    mat-flat-button
    class="btn-width"
    [disabled]="!docsArray.length"
    color="primary"
    (click)="step = step + 1"
  >
    Next
  </button>
  <button
    *ngIf="step === 2"
    mat-flat-button
    class="btn-width"
    [disabled]="video === ''"
    color="primary"
    (click)="submit()"
  >
    Submit
  </button>
  <button
    *ngIf="step === 3"
    mat-flat-button
    class="btn-width"
    color="primary"
    (click)="dialogRef.close(true)"
  >
    New transaction
  </button>
</div>
