<div class="grid" *ngIf="!loading">
  <div class="col-12">
    <div class="header-text">
      <h2>Create Accounts</h2>
      <p>Select an Account that you want to create</p>
    </div>
    <div class="grid">
      <div class="col-3" *ngFor="let m of menu" (click)="_openMenu(m.action)">
        <div class="cards">
          <div class="img-container">
            <mat-icon color="primary" *ngIf="m.icon">{{ m.icon }}</mat-icon>
            <img *ngIf="m.logo" [src]="m.logo" />
          </div>
          <p>{{ m.title }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
<app-loading *ngIf="loading" [label]="'Loading...'"></app-loading>
