<h3 mat-dialog-title>{{ data.type }} Document</h3>
<div mat-dialog-content>
  <section class="grid">
    <div class="col-12" *ngIf="data.type === 'Notarized'">
      <img [src]="data.screenshot" style="width: 100%" />
    </div>
    <div [class]="data.type === 'Notarized' ? 'col-6' : 'col-12'">
      <p>
        QC Indigent:
        <b
          >{{ data.document.sender.firstName }}
          {{ data.document.sender.middleName }}
          {{ data.document.sender.lastName }}
          {{ data.document.sender.suffix }}</b
        >
      </p>
      <p>
        Document Ref Code: <b>{{ data.document.refCode }}</b>
      </p>
      <div class="grid">
        <!-- <div class="col-12">
          <p>Document Ref Code:</p>
          <p>
            <b>{{ data.document.refCode }}</b>
          </p>
        </div> -->
        <div class="col-12">
          <!-- FOR NOTARIZED -->
          <!-- <section *ngIf="data.type === 'Notarized'">
            <p>Mark as notarized</p>
            <mat-radio-group [(ngModel)]="status"></mat-radio-group>
            <mat-radio-button value="Notarized"></mat-radio-button>
          </section> -->

          <!-- FOR UNNOTARIZED -->
          <section *ngIf="data.type === 'Unnotarized'">
            <mat-form-field appearance="fill" class="full-width">
              <mat-label>Remark</mat-label>
              <mat-select [(ngModel)]="remark">
                <mat-option *ngFor="let remark of remarksArr" [value]="remark">
                  {{ remark }}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field
              appearance="fill"
              class="full-width"
              *ngIf="remark === 'Others'"
            >
              <mat-label>Please Specify</mat-label>
              <input matInput type="text" [(ngModel)]="others" />
              <button
                *ngIf="others"
                matSuffix
                mat-icon-button
                aria-label="Clear"
                (click)="others = ''"
              >
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>
          </section>
        </div>
      </div>
    </div>
  </section>
</div>
<div mat-dialog-actions align="center">
  <button mat-flat-button mat-dialog-close color="warn">Cancel</button>
  <button
    mat-flat-button
    color="primary"
    [disabled]="data.type !== 'Notarized' ? !others || !remark : false"
    (click)="markDocument(data.document)"
  >
    {{
      data.type === "Notarized" ? "Mark as notarized" : "Mark as unnotarized"
    }}
  </button>
</div>
