@import "../../../../assets/styles/variables.scss";
.flex-stretch {
  flex: 1 0 auto;
}
.container-fluid {
  width: 95%;
  margin: auto;
  margin-bottom: 1.5rem;
  overflow: hidden;
  margin-top: 2rem;
}
.light {
  color: #5f5f5f;
  font-weight: 500;
  font-size: 14px;
}
.avatar {
  cursor: pointer;
}
mat-sidenav-container {
  height: 100%;
  background: #f7f8fb;
  overflow-x: hidden;
  width: 100%;

  mat-sidenav {
    overflow-x: hidden;
    border: none;
    box-shadow: -4px 7px 26px 3px rgba(0, 0, 0, 0.1);
  }
  .chevron-button {
    transition: 300ms ease-in-out;
    transform: rotate(0deg);
    left: 0;
    float: left;
    position: absolute;
    z-index: 999;
    cursor: pointer;
    border-radius: 50%;
  }
  .chevron-button:hover {
    background: rgba(78, 110, 155, 0.579);
  }

  .chevron-button.rotated {
    transform: rotate(180deg);
  }
}
.logo-container {
  height: 3.3rem;
  width: 3.3rem;
  background: radial-gradient(#f1f1f1 30%, #ddd 50%, #aeadaf 100%);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  .img {
    width: auto;
    height: 75%;
    display: block;
    margin: auto;
  }
}
.logo-text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0rem 1.1rem;
  margin-left: 0.3rem;
  p {
    font-size: 9px;
    margin: 0;
    letter-spacing: 0.1rem;
    line-height: 0.6rem;
    margin-top: 0.6rem;
    color: #fff;
  }
  h3 {
    margin: 0;
    font-family: "Tomatoes" !important;
    line-height: 1.3rem;
    letter-spacing: 0.1rem;
    font-weight: 500;
    color: #fff;
  }
}

.mat-nav-list .mat-list-item:hover {
  background: linear-gradient(
    90deg,
    rgb(44, 14, 90) 18%,
    rgb(95, 47, 140) 100%
  );
  border-radius: 5px;
  color: #fff;
  transition: 0.1s;
  span {
    color: #fefefe;
  }
  mat-icon {
    color: #fefefe;
  }
}

.mat-nav-list .mat-list-item:focus {
  background: linear-gradient(
    90deg,
    rgb(44, 14, 90) 18%,
    rgb(95, 47, 140) 100%
  );
  border-radius: 5px;
  color: #fff;
  transition: 0.1s;
  span {
    color: #fefefe;
  }
  mat-icon {
    color: #fefefe;
  }
}
.mat-nav-list .mat-list-item {
  margin: 0.1rem 0rem;
}

.router-active-link {
  background: linear-gradient(
    90deg,
    rgb(44, 14, 90) 18%,
    rgb(95, 47, 140) 100%
  );
  border-radius: 5px;
  margin: 0rem;
  span {
    color: #fefefe;
  }
  mat-icon {
    color: #fefefe;
  }
}
