.main-module,
.sub-module {
  // border: 2px solid #6d9eeb;
  border-radius: 0.2rem;
  color: #565656;
}
h1 {
  color: #565656;
  padding-bottom: 0.7rem;
}
.main-module {
  // background: #3c78d8;
  border: 1px solid #6d9deb90;
  .sub-module {
    // background: #6d9eeb;
    border: 1px solid #7a90b37d;
  }
}
.upper {
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  font-weight: 600;
}
