<app-loading [label]="'Loading'" *ngIf="loading"></app-loading>
<app-loading [label]="'Logging Out'" *ngIf="loggingOut"></app-loading>
<mat-sidenav-container style="overflow: hidden" *ngIf="!loading && !loggingOut">
  <mat-sidenav
    style="overflow: hidden"
    class="nav"
    #sidenav
    mode="side"
    opened="true"
    (mouseenter)="onSinenavToggle()"
    (mouseleave)="onSinenavToggle()"
    [@onSideNavChange]="sideNavState ? 'open' : 'close'"
  >
    <mat-nav-list style="padding-top: 0">
      <mat-toolbar
        color="primary"
        style="border-right: 0.3px solid rgba(238, 238, 238, 0.171); padding: 0"
      >
        <div class="logo-container">
          <img
            src="../../../assets/images/iCertify-logo.png"
            class="img"
            alt=""
          />
        </div>

        <div *ngIf="isExpanded || sideNavState" class="logo-text">
          <h3>iCertify, Inc.</h3>
          <p>BARANGAY</p>
        </div>
      </mat-toolbar>
      <div style="padding: 0.5rem">
        <ng-container *ngFor="let item of barangayNav">
          <mat-list-item
            style="height: 2.8rem; padding: 0"
            [routerLink]="item.route"
            (click)="changeRoute(item)"
            routerLinkActive="router-active-link"
            *ngIf="
              !me.isMain && me._role && me._role.access
                ? item.hasAccess
                : !item.hasAccess
            "
          >
            <mat-icon
              class="light"
              fontSet="material-icons-outlined"
              mat-list-icon
              >{{ item.icon }}</mat-icon
            ><span
              [@animateText]="linkText ? 'show' : 'hide'"
              class="light"
              *ngIf="isExpanded || sideNavState"
              >{{ item.label }}</span
            >
          </mat-list-item>
        </ng-container>
      </div>
    </mat-nav-list>
  </mat-sidenav>
  <div>
    <mat-toolbar
      style="
        border-bottom: 0.5px #8f8f8f3f solid;
        position: sticky;
        z-index: 99;
        top: 0;
        background: #fff;
      "
    >
      <!-- <mat-icon
        class="chevron-button"
        (click)="isExpanded = !isExpanded"
        [ngClass]="{ rotated: isExpanded }"
        [matTooltip]="isExpanded ? 'Minimize sidebar' : 'Expand sidebar'"
        matTooltipPosition="right"
        >chevron_right</mat-icon
      > -->
      <div class="flex-stretch"></div>
      <app-profile-menu
        class="avatar"
        *ngIf="me"
        [me]="me"
        [avatarColors]="menuColors"
        [menuItems]="barangayMenu"
        (onMenuClick)="menuClick($event)"
      ></app-profile-menu>
    </mat-toolbar>
    <mat-toolbar
      class="shadow-1"
      style="
        height: 2rem;
        background: #fff;
        color: #26184a;
        position: sticky;
        z-index: 99;
      "
      *ngIf="!navigationLoading"
    >
      <small style="font-size: 13px; letter-spacing: 0.1rem">{{
        routeLabel
      }}</small>
      <div class="flex-stretch"></div>
    </mat-toolbar>
    <div
      style="overflow: hidden"
      *ngIf="!navigationLoading && !loggingOut"
      class="container-fluid"
    >
      <router-outlet></router-outlet>
    </div>
    <div style="overflow-x: hidden; overflow-y: hidden">
      <app-loading
        [label]="'Navigating to'"
        [route]="routeLabel"
        *ngIf="navigationLoading && !loggingOut"
      ></app-loading>
    </div>
  </div>
</mat-sidenav-container>
