<router-outlet (activate)="onRouteActivate()"></router-outlet>
<ng-container *ngIf="routeLength < 4">
  <button
    mat-raised-button
    *ngIf="selected.length && currTable !== 'Received'"
    style="position: relative; top: 9rem; left: 85%"
    class="mark-btn"
    (click)="onMark()"
  >
    Mark as Enroute
  </button>

  <app-table
    #table
    [checkBoxDisableField]="checkBoxDisableField"
    [filterButtonConfig]="filtBtnConfig"
    [loading]="loading"
    (onUpdateTableEmit)="tableUpdateEmit($event)"
    (onRowClick)="onRowClick($event)"
    [dataSource]="dataSource"
    [dataLength]="dataLength"
    [pagination]="page"
    [checkBox]="isCheckbox"
    [bottomSheet]="bsConfig"
    (onCheckBoxSelect)="onCheckBoxSelect($event)"
    [uniqueCheckbox]="true"
  ></app-table
></ng-container>
