<h1 mat-dialog-title>Add Rider</h1>
<mat-icon mat-dialog-close class="close-btn" color="warn">close</mat-icon>

<div mat-dialog-content>
  <app-form
    #addRider
    *ngIf="!loading"
    [formfields]="addRiderForm"
    (formInitiated)="formInitialized($event)"
    (formListener)="formListener($event)"
  ></app-form>
</div>

<div mat-dialog-actions align="end" *ngIf="isFormInitiated">
  <button mat-button color="warn" mat-dialog-close>Cancel</button>
  <button
    mat-flat-button
    color="primary"
    [disabled]="!addRider || !addRider.form.valid"
  >
    Create
  </button>
</div>
