.local {
  position: fixed;
  top: 25%;
  right: 15%;
  width: 30vw;
  height: 30vh;
  border-radius: 5px;
  overflow: hidden;
  z-index: 1;
}

.remote {
  position: fixed;
  background-color: aquamarine;
  top: 25%;
  left: 15%;
  width: 30vw;
  height: 30vh;
  border-radius: 5px;
}
