<div class="container">
  <div class="form-container">
    <div class="left">
      <div class="img-container">
        <img src="./../../../../assets/images/iCertify-logo.png" alt="" />
      </div>
      <h3>iCertify, Inc.</h3>
      <p>THE DIGITAL NOTARY</p>
    </div>
    <div class="right">
      <h2>Login your account</h2>
      <form [formGroup]="credential" style="width: 100%">
        <mat-form-field class="full-width" appearance="fill">
          <mat-label>Email</mat-label>
          <input type="text" matInput formControlName="email" />
          <mat-icon color="primary" matSuffix>mail</mat-icon>
          <mat-error *ngIf="credential.controls.email.invalid">{{
            formFieldErrMessage("email")
          }}</mat-error>
        </mat-form-field>
        <mat-form-field class="full-width" appearance="fill">
          <mat-label>Password</mat-label>
          <input
            [type]="hide ? 'password' : 'text'"
            matInput
            formControlName="password"
          />
          <mat-icon
            style="cursor: pointer"
            matTooltip="Visibility"
            matSuffix
            color="primary"
            (click)="hide = !hide"
          >
            {{ hide ? "visibility" : "visibility_off" }}
          </mat-icon>
          <mat-error *ngIf="credential.controls.password.invalid">{{
            formFieldErrMessage("password")
          }}</mat-error>
        </mat-form-field>
      </form>
      <button
        [disabled]="!credential.valid || isLoggingIn"
        mat-flat-button
        color="primary"
        class="full-width login-btn"
        (click)="login()"
      >
        <mat-spinner
          style="margin-left: 46%"
          color="primary"
          *ngIf="isLoggingIn"
          [diameter]="30"
        ></mat-spinner>
        <span *ngIf="!isLoggingIn"> Login</span>
      </button>
      <p class="forgot">Forgot password?</p>
    </div>
  </div>
</div>
