<div class="mat-elevation-z1 vc-card" *ngFor="let room of activeRooms">
  <div class="grid">
    <div class="col-1 text-center queue-card">
      <h1 class="queue">{{ room.que }}</h1>
    </div>
    <div class="col-6">
      <small>
        {{ room.currentTransaction.refCode }}
      </small>
      <h1>
        {{
          room.currentTransaction.sender.firstName +
            " " +
            room.currentTransaction.sender.lastName
        }}
      </h1>
      <p>No. of Documents: {{ room.currentTransaction.documentCount }}</p>
    </div>
    <div class="col-5" align="end">
      <button mat-raised-button (click)="enterNow(room)">Enter Now</button>
    </div>
  </div>
</div>
<app-table
  style="position: relative"
  [columns]="columns"
  [loading]="loading"
  (onRowClick)="onRowClick($event)"
  [dataSource]="dataSource"
  [dataLength]="dataLength"
  [pagination]="page"
  (onUpdateTableEmit)="tableUpdateEmit($event)"
></app-table>
