<small
  style="color: red; margin-bottom: 1rem"
  *ngIf="isDisabled && activeRooms.length"
  >Wait for your Barangay's turn to join!</small
>
<div class="vc-card" *ngFor="let room of activeRooms">
  <div class="grid">
    <div class="col-1 text-center queue-card">
      <h1 class="queue">{{ room.que }}</h1>
      <p>Que number</p>
    </div>
    <div class="col-6">
      <p>
        Current Barangay:
        <b>{{ room.currentTransaction._barangay.brgyDesc }}</b>
      </p>
      <small>
        {{ room.currentTransaction.refCode }}
      </small>
      <h1>
        {{
          room.currentTransaction.sender.firstName +
            " " +
            room.currentTransaction.sender.lastName
        }}
      </h1>
      <p>No. of Documents: {{ room.currentTransaction.documentCount }}</p>
    </div>
    <div class="col-5" align="end">
      <button
        mat-raised-button
        [disabled]="isDisabled"
        (click)="enterNow(room)"
      >
        Enter Now
      </button>
    </div>
  </div>
</div>
<app-table
  style="position: relative"
  [filterButtonConfig]="filtBtnConfig"
  [loading]="loading"
  (onRowClick)="onRowClick($event)"
  [dataSource]="dataSource"
  [dataLength]="dataLength"
  [pagination]="page"
  (onUpdateTableEmit)="tableUpdateEmit($event)"
></app-table>
