<h3 mat-dialog-title>{{ data.header }}</h3>
<mat-icon
  *ngIf="checkHeaderDisabler()"
  (click)="close()"
  class="close-btn"
  color="warn"
  >close</mat-icon
>
<div mat-dialog-content>
  <app-form
    #registrantDetails
    [formfields]="registrantFromFields"
    (formInitiated)="formInitialized()"
    (formListener)="formListener($event)"
    [obj]="this.data.obj"
  ></app-form>
  <app-image-form
    [disable]="checkImageBtnDisabler()"
    [mobileNumber]="this.data.mobileNumber || this.data.obj.mobileNumber"
    [obj]="this.data.obj?.images ? this.data.obj.images : {}"
    (imageEmitter)="imageEmitter($event)"
    [reasonVal]="reasonVal || ''"
    [header]="data.header"
  ></app-image-form>
</div>

<div mat-dialog-actions align="center">
  <button
    *ngIf="data.header === 'Add Indigent'"
    mat-flat-button
    color="primary"
    (click)="submit()"
    [disabled]="!imageFormValid || !registrantDetails.form.valid || saving"
  >
    <mat-icon>save_as</mat-icon>&nbsp;Save
  </button>
  <button
    *ngIf="data.header === 'Edit Registrant Details'"
    mat-flat-button
    color="primary"
    (click)="updateIndigent()"
    [disabled]="saving || (!imageFormDirty && !registrantDetails.form.dirty)"
  >
    <mat-icon>save_as</mat-icon>&nbsp;Update
  </button>
  <button
    *ngIf="this.data.header === 'Review Details'"
    mat-flat-button
    color="primary"
    (click)="dialogRef.close(true)"
  >
    Next
  </button>
</div>
