/* You can add global styles to this file, and also import other style files */
@import "https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap";
@import "./assets//styles/variables.scss";

html,
body {
  height: 100%;
  margin: 0;
  font-family: "Poppins", sans-serif !important;
}

* {
  font-family: "Poppins", sans-serif;
}
p,
span,
small,
h1,
h2,
h3,
h4,
h5 {
  font-family: "Poppins", sans-serif !important;
}

table {
  width: 100%;
  * {
    font-size: 12px !important;
  }

  thead {
    // background-color: #f9f9f9 !important;
  }
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.full-width {
  width: 100%;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 1rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #7b678089;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #9b9b9b;
}

//DIALOG CLASSES
.dialog-no-padding {
  mat-dialog-container {
    padding: 0;
    border-radius: 0;
    overflow: hidden;
  }
}
.dialog-no-background {
  mat-dialog-container {
    background: none;
    box-shadow: none;
  }
}
.bdrop {
  background-color: #606060f2;
  opacity: 80%;
}

.bottom-right-button {
  position: absolute;
  bottom: 2%;
  right: 2%;
}

.custom-dialog-container .mat-dialog-container {
  overflow: visible;
  .mat-dialog- .mat-dialog-title {
    position: relative;
    text-align: left;
    text-transform: uppercase;
    .dialog-close-btn {
      display: inline;
      position: absolute;
      right: -43px;
      top: -42px;
    }
  }
  .mat-dialog-content {
    max-height: 70vh;
  }
}
.close-btn {
  margin-right: -5px !important;
  margin-top: -6px !important;
  float: right;
  cursor: pointer;
}
.close-btn:hover {
  transform: rotate(90deg);
  transition: 0.2s;
}
.mat-drawer-content {
  overflow-x: hidden !important;
}
.dialog-responsive-dark {
  width: 35%;
  mat-dialog-container {
    background-color: #26184a;
  }
}
.dialog-darken {
  width: "auto";
  mat-dialog-container {
    background-color: #26184a;
    color: #fff;
  }
}
.mat-dialog-actions {
  border-top: 1px solid rgb(223, 223, 223);
}
.mat-dialog-title {
  border-bottom: 1px solid rgb(223, 223, 223);
  padding-bottom: 0.5rem;
}
.bdrop {
  background-color: #484848a1;
  backdrop-filter: blur(0.5px);
}
.dialog-transparent {
  mat-dialog-container {
    background-color: transparent !important;
    box-shadow: none;
  }
}

.mark-btn:hover {
  background-color: $primary;
  color: $text-light;
}
