/* You can add global styles to this file, and also import other style files */
@import "https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap";

html,
body {
  height: 100%;
  margin: 0;
  font-family: "Poppins", sans-serif !important;
}

* {
  font-family: "Poppins", sans-serif;
}
p,
span,
small,
h1,
h2,
h3,
h4,
h5 {
  font-family: "Poppins", sans-serif !important;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.full-width {
  width: 100%;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 1rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #7b678089;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #9b9b9b;
}
