<form [formGroup]="form">
  <mat-form-field
    *ngIf="opt.item.length"
    [appearance]="appearance ? appearance : 'outline'"
    floatLabel="always"
  >
    <mat-label>{{ opt.title }}</mat-label>
    <input
      type="text"
      placeholder="Pick one"
      aria-label="Number"
      matInput
      [formControl]="optForm"
      [matAutocomplete]="auto"
    />
    <mat-autocomplete
      #auto="matAutocomplete"
      autoActiveFirstOption
      (optionSelected)="onOptionSelect($event)"
    >
      <ng-container>
        <mat-option
          *ngFor="let option of filteredOpt | async"
          [value]="option.label ? option.label : option.value"
        >
          {{ option.label ? option.label : option.value.name }}
        </mat-option>
      </ng-container>
    </mat-autocomplete>
  </mat-form-field>
</form>
