.mat-dialog-container {
  background: transparent !important;
  box-shadow: none;
  border: none;
}
h1 {
  text-align: center;
  color: #fff;
  font-size: 120px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
