<div class="grid lobby" *ngIf="!joinRoom">
  <div class="col-12">
    <small>Transaction Reference</small>
    <h1>
      {{ currentRoomDetails.currentTransaction.refCode }}
    </h1>
  </div>
  <div class="col-6">
    <small class="primary">This is how you look like.</small>
    <p></p>
    <webcam
      class="cam"
      [width]="500"
      [height]="300"
      [allowCameraSwitch]="false"
      (initError)="handleInitError($event)"
      *ngIf="!locked"
    ></webcam>
  </div>
  <div class="col-6">
    <small class="primary">Documents</small>
    <p></p>
    <div
      class="document"
      *ngFor="let doc of currentRoomDetails.currentTransaction._documents"
    >
      <small
        ><kbd>{{ doc.refCode }}</kbd></small
      >:
      <small
        ><b>{{ doc.documentType }}</b></small
      >
      <p>
        {{ doc.documentName }}
      </p>
    </div>

    <div class="notary-details">
      <small class="primary">Notary Details</small>
      <p></p>
      <p>
        <b>
          ATTY. {{ currentRoomDetails._notaryId.firstName }}
          {{ currentRoomDetails._notaryId.lastName }}
        </b>
        <br />
        <small>
          NOTARY PUBLIC<br />
          UNTIL
          {{
            currentRoomDetails._notaryId.period_endDate | date: "MMMM dd, yyyy"
          }}<br />
          ROLL OF ATTORNEYS #{{ currentRoomDetails._notaryId.roll_number }}
        </small>
      </p>
    </div>

    <div class="buttons">
      <button
        mat-flat-button
        color="primary"
        [disabled]="btnDisabled"
        (click)="joinMeeting()"
        style="margin-right: 16px"
      >
        JOIN NOW
      </button>
      <button (click)="onClose()" mat-button color="warn">Back</button>
    </div>
  </div>
</div>

<div *ngIf="joinRoom" style="margin: 0" class="grid main-container">
  <div class="col-12">
    <app-rt-video
      [channelName]="currentScheduleId"
      [details]="details"
      [remoteDetails]="remoteCallDetails"
      (onLeaveMeeting)="leaveMeeting($event)"
    ></app-rt-video>
  </div>
</div>
