@import "../../../../../../../assets/styles/variables.scss";
.lobby {
  padding: 16px;
  padding-left: 2rem;
}

small {
  color: gray;
}
h1 {
  margin-top: 0;
}
.document {
  p {
    margin-top: 0;
  }
}

.primary {
  color: $primary;
  font-weight: bold;
}

//
