<!-- <button
  mat-raised-button
  *ngIf="selected.length && currTable !== 'Received'"
  style="position: relative; top: 9rem; left: 85%"
  class="mark-btn"
  (click)="onMark()"
>
  Mark as Received
</button> -->

<app-table
  #table
  [filterButtonConfig]="filtBtnConfig"
  [loading]="loading"
  (onUpdateTableEmit)="tableUpdateEmit($event)"
  (onRowClick)="onRowClick($event)"
  [dataSource]="dataSource"
  [dataLength]="dataLength"
  [pagination]="page"
  [checkBox]="isCheckbox"
  (onCheckBoxSelect)="onCheckBoxSelect($event)"
  (onCheckBoxBtnClick)="onCheckBoxButtonClick($event)"
>
</app-table>
